node_modules/
.expo/
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/.xcode.env.local
**/.DS_Store
android/app/build/
android/.gradle/
android/build/
*.log
.DS_Store
.env
.env.local
*.jks
*.keystore
coverage/
